html {
    font-family: 'Teko', sans-serif;
    scroll-behavior: smooth;
}

footer {
    width: 100%;
    height: auto;
    background-color: #719275;
    color: #fff;
}

footer div {
    box-sizing: border-box;
    padding-top: 30pt;
    padding-bottom: 30pt;
    display: inline-block;
}

nav {
    height: 35pt;
    z-index: 5;
    background-color: #0E191C;
    /* #8b0000;*/
    color: #fffDE5;
}

nav>div {
    float: right;
}

nav>div>a {
    text-decoration: none;
    font-size: 1.5em;
}

nav>div>a:visited {
    color: #fffDE5;
}

#loginSection {
    box-sizing: border-box;
    padding-top: 40px;
}

section {
    box-sizing: border-box;
    padding-top: 30pt;
    min-height: 85vh;
    width: 100%;
    background-color: #719275;
    padding-bottom: 30pt;
}

body {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    font-size: 2.5em;
}
#deleteButton {
    box-sizing: border-box;
    padding-bottom: 10pt;
}
.container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20pt;
    width: 40%;
    min-width: 400pt;
    height: auto;
    background-color: #193930;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 10pt;
}

.slideable {
    width: 100%;
    box-sizing: border-box;
    padding: 10pt;
    padding-bottom: 0;
}

.slideable>form {
    padding: 10pt;
}

.slideable>div {}

.container>form>input {
    position: block;
    box-sizing: border-box;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10pt;
}

.logContainer {
    width: 80%;
    background-color: #ccc;
    margin-left: auto;
    margin-right: auto;
}

.logValue {
    display: inline;
    margin-left: 10%;
    margin-right: 10%;
}

.userContainer {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.gameBody {
    width: 900px;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #193930;
    font-size: 1.4em;
}

.gameTitle {
    display: inline-block;
    padding: 20pt;
    color: #fff;
    width: 65%;
    font-size: 3em;
}

.buttonCursor {
    cursor: pointer;
}

#gameMainImg {
    object-fit: scale-down;
    width: 100%;
}

.gameDescription {
    padding: 20pt;
    color: #fff;
}

.gameInfo {
    display: inline-block;
    /*margin-left: 5%;
    margin-right: 5%;*/
    width: 25%;
    line-height: 50px;
    height: 50px;
    font-size: 1.2em;
    color: #fff;
}

.selectProduct{
    
}
.selectProduct input {
    box-sizing: border-box;
    width: 70%;
}
.btnContainer{
    box-sizing: border-box;
    display: inline-block;
    width: 45%;
}


.product {
    border-bottom: 1pt solid rgba(2, 155, 20, 1);
}
.product:last-child {
    border-bottom: none;
}

.product span {
    display: inline-block;
    text-align: right;
    width: 50%;
}
.product span:first-child {
    text-align: left;
}
.AccountTitle {
    box-sizing: border-box;
    padding-top: 3pt;
    padding-bottom: 3pt;
    font-size: 1.4em;
    background-image: linear-gradient(to right, rgba(2, 155, 20, 0), rgba(2, 155, 20, 1), rgba(2, 155, 20, 0));
}

.infoDiv {
    height: 25pt;
    margin-bottom: 10pt;
}

.infoDiv>div {
    width: 30%;
    float: left;
    height: 100%;
    line-height: 25pt;
}

.infoDiv>input {
    width: 30%;
    box-sizing: border-box;
    float: left;
    margin-right: 5%;
    height: 100%;
}

.gameInfo>div {
    display: inline-block;
    background-color: #0E191C;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    margin-left: 5pt;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right
}

.storeMedia {
    width: 100%;
    object-fit: initial;
    position: absolute;
    transform: translateX(-100%);
}

#logoutButton {
    width: 50pt;
}

.navButton {
    font-size: 1.6em;
    margin-left: 5pt;
    margin-right: 5pt;
    padding-left: 25pt;
    padding-right: 25pt;
    line-height: 35pt;
    text-align: center;
}

#profileButton {
    font-size: 1.3em;
}

#carousel {
    position: relative;
    height: 506px;
    width: 100%;
    overflow: hidden;
}

#shoppingCart {
    box-sizing: border-box;
    height: 35pt;
    line-height: 35pt;
    padding-top: 3pt;
    padding-bottom: 3pt;
    width: 60pt;
    background-color: #029b14;
    text-align: center;
    font-size: 1.5em;
}

#shoppingCart div {
    display: inline;
}

#carousel .storeMedia:first-child {}

#previousButton {
    left: 2%;
}

#nextButton {
    right: 2%;
}

.subTitle {
    margin-left: 20pt;
    margin-right: 20pt;
    margin-top: 15pt;
    margin-bottom: 15pt;
    font-size: 1.8em;
    color: #fff;
    border-bottom: #fff 1pt solid;
}

.AccountInfo {
    box-sizing: border-box;
    padding: 10pt;
}

.gameAbout {
    color: #fff;
    margin-left: 20pt;
    margin-right: 20pt;
    padding-bottom: 20pt;
    overflow: hidden;
}

.gameAbout li {
    list-style-type: none;
}

.carouselButton {
    position: absolute;
    top: 50%;
    font-size: 2em;
    color: #fff;
    z-index: 2;
}

#cartContainer {
    width: 60pt;
    position: relative;
}

#cartItemWrapper {
    position: absolute;
    width: 170pt;
    overflow: hidden;
    z-index: 2;
}

#cartItemContainer {
    box-sizing: border-box;
    padding: 10pt;
    background-color: #193930;
    color: #fff;
    width: 100%;
    display: none;
}

#cartList {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#cartList li:last-of-type {
    font-size: 1.2em;
    box-sizing: border-box;
    padding-top: 2pt;
    margin-top: 2pt;
    border-top: 1pt white dashed;
}

#totalLi {
    font-size: 1.2em;
}

.cartTotal {
    display: inline-block;
    width: 70%;
}

.deleteItem {
    float: right;
    color: #f00;
}

.cartPrice {
    width: 20%;
}

.cartTitle {
    display: inline-block;
    width: 70%;
}

.property {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    margin-bottom: 5pt;
}

.containerButton {
    width: 100%;
    line-height: 35pt;
    height: 35pt;
}

#searchField {
    float:right;
    margin: 10pt;
}

.property>input {
    width: 55%;
    box-sizing: border-box;
    padding: 0;
    display: inline-block;
    height: 25pt;
    border: 0;
    right: 0;
}
.property>label {
    width: 45%;
    display: inline-block;
}
.property>textarea {
    width: 55%;
    height: 50pt;
    box-sizing: border-box;
    display: inline-block;
    resize: none;
}
.property>textarea:last-child {
    height: 200pt;
}

.editProduct{
    width: 100%;
    box-sizing: border-box;
    height: auto;
    margin-bottom: 5pt;
}

.editProduct>div{
    display:flex;
    width:100%;
    margin-bottom: 2pt;
}
.editProduct>div>input {
    display: inline-block;
    border:none;
    box-sizing: border-box;
    width:60%;
}
.editProduct>div>label{
    display: inline-block;
    width:40%;
}
.editProduct textarea{
    display: inline-block;
    width:60%;
    height:150pt;
    resize: none;
    height: 75pt;
}

.editProduct .about {
    height: 150pt;
}

.property>div {
    top: 0;
    width: 35%;
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
    height: 25pt;
    line-height: 25pt;
    float: left;
}

#orderButton {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.2em;
    padding-top: 1pt;
    padding-bottom: 1pt;
    background-color: darkcyan;
    text-align: center;
}

#profileDataContainer {
    box-sizing: border-box;
    padding: 10pt;
    overflow: hidden;
}

#profileData {
    box-sizing: border-box;
    width: 70%;
    text-align: left;
    padding-left: 10pt;
    float: left;
    font-size: 0.8em;
}

#editProfile {
    width: 25%;
    float: left;
    background-color: green;
    text-align: center;
}

#profileDesc {
    float: left;
    width: 100%;
    font-style: italic;
}

#profileUser {
    width: 75%;
    float: left;
    font-size: 1.6em;
}

#profileImg {
    width: 30%;
    float: left;
}
#productList {
    list-style: none;
    box-sizing: border-box;
    padding-left: 10pt;
    padding-right: 10pt; 
}

#shopList {
    background-color: #0E191C;
}
#orderContainer{
    display: block;
    box-sizing: border-box;
    margin:10pt;
}
.orderItem{
    display: flex;
    padding: 5pt;
    box-sizing: border-box;
    width: 100%;
}
.orderItem img {
    box-sizing: border-box;
    width:25%;
}
.orderItem>div>i {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.1em;
    width:5%;
    margin-left:10pt;
}
.orderItem>div {
    display: flex;
    box-sizing: border-box;
    width: 75%;
    margin-top: auto; 
    margin-bottom: auto;   
    padding: 10pt;
}
.orderItem>div>span:first-child {
    width:80%;
    text-align: left;
}
.shopItem {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    margin-bottom: 3pt;
    background-color: #193930;
}

.shopItem img {
    float: left;
    width: 30%;
    height: 65pt;
}

.shopItem>div {
    box-sizing: border-box;
    padding: 10pt;
    width: 70%;
    float: left;
    background-color: #193930;
}

.shopTitle {
    width: 60%;
    text-align: left;
    display: inline-block;
}

.shopPrice {
    width: 40%;
    text-align: right;
    display: inline-block;
}

.shopDesc {
    width: 100%;
    font-size: 0.7em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#userContainer {
    display: none;
}

#userWrapper {
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.userButton {
    background-color: #193930;
    font-size: 1.3em;
    text-align: center;
    box-sizing: border-box;
    padding: 5pt;
}

@keyframes slideCenterToLeft {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

@keyframes slideCenterToRight {
    from {
        left: 100%;
    }
    to {
        left: 200%;
    }
}

@-moz-keyframes slideCenterToRight {
    0% {
        left: 100%;
    }
    100% {
        left: 200%;
    }
}

@keyframes slideRightToCenter {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

@keyframes slideLeftToCenter {
    from {
        left: 200%;
    }
    to {
        left: 100%;
    }
}

.slideDown {
    animation: slideDownAnimation 1s forwards;
}

.slideUp {
    animation: slideUpAnimation 1s forwards;
}

@keyframes slideDownAnimation {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUpAnimation {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}