<section>
    <div class="container">
        <div class="AccountTitle">Add Product</div>
        <div class="slideable">
            <form id="addProductForm" method="post">
                <div class="property">
                    <div>Title</div>
                    <input name="title">
                </div>
                <div class="property">
                    <div>Price</div>
                    <input name="price">
                </div>
                <div class="property">
                    <div>Thumbnail</div>
                    <input name="thumb">
                </div>
                <div class="property">
                    <div>Description</div>
                    <input name="desc" maxlength="200">
                </div>
                <div class="property">
                    <div>About</div>
                    <textarea name="about"></textarea>
                </div>
                <input name="method" type="hidden" value="add">
            </form>
            <div class="AccountTitle"></div>
            <div id="addProductButton" class="buttonCursor containerButton">Add Product</div>
        </div>
        <div class="AccountTitle">Edit Product</div>
        <div id="shopEdit" class="slideable">
            <?= $products ?>
        </div>
    </div>
    <script src="js/shop_edit.js"></script>
</section>