<section>

    <div class="gameBody">
        <div id="carousel">
            <?= $media ?>
                <div id="previousButton" class="carouselButton"><i class="fa fa-angle-left"></i></div>
                <div id="nextButton" class="carouselButton"><i class="fa fa-angle-right"></i></div>
        </div>
        <div class="gameTitle">
            <?= $gameTitle;?>
        </div>
        <div class="gameInfo">
            <!--<div class="floatLeft"><i class="far fa-thumbs-up"></i></div>
            <div class="floatLeft"><i class="far fa-thumbs-down"></i></div>-->
            <div id="addToCart" class="floatRight buttonCursor">
                Add to cart
            </div>
            <div class="floatRight">
                &euro;
                <?= $price ?>
            </div>
        </div>
        <div class="gameDescription">
            <?= $desc ?>
        </div>
        <div class="subTitle">About this game</div>
        <div class="gameAbout">
            <?= $about ?>
        </div>
    </div>
    <input id="product_id" type="hidden" value='<?= $gameID ?>'>
    <script src="js/ajaxHandler.js"></script>
    <script src="js/carousel.js"></script>
</section>