<section>
    <div class="container">
        <input id="searchField" type="text" placeholder="Search for games">
        <div id="shopList">
            <?= $shopList ?>
        </div>
    </div>
    <script src="js/ajaxHandler.js"></script>
    <script src="js/game_shop.js"></script>
</section>