<nav>
    <div class="floatLeft"><a class="navButton" href="game_shop.php">Shop</a></div>
    <?= $nav ?>
        <div id="cartContainer">
            <div id="shoppingCart" class="buttonCursor">
                <div id="shoppingCartNum">
                    <?= $num ?>
                </div>
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div id="cartItemWrapper">
                <div id="cartItemContainer" class="slideUp">
                    <ul id="cartList">
                    </ul>
                    <div id="orderButton" class="buttonCursor">Purchase</div>
                </div>
            </div>

        </div>
        <script src="js/header.js"></script>
</nav>