<section id="loginSection">
    <div class="container">
        <h1>Login</h1>
        <form method="post" action="<?php echo htmlspecialchars($_SERVER['PHP_SELF']);?>">
            <input type="email" name="email" placeholder="test@example.com" value="<?= $email; ?>">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
        <span class="error"><?php echo $emailError . "<br>" .$passwordError; ?></span>
    </div>
</section>