<section>
    <div class="container">
        <div class="AccountTitle">
            Shopping Cart:
        </div>
        <div id="orderContainer">
            <?= $order ?>
        </div>
        <div class="AccountTitle"></div>
        <div id="placeOrderButton" class="buttonCursor">
            Place Order
        </div>
    </div>
    <script src="js/order.js"></script>
</section>