<section>
    <div class="container">
        <div id="profileDataContainer">
            <img id="profileImg" src="<?= $image ?>">
            <div id="profileData">
                <div id="profileUser">
                    <?= $user ?>
                </div>
                <?= $button ?>

                    <!--<div id="profileName">Maarten Rengelink</div>-->
                    <div id="profileDesc">
                        <?= $about ?>
                    </div>
            </div>
        </div>
    </div>
</section>