<section>
    <div class="title">
        Registration
    </div>
    <div class="container">
        <form method="post" action="<?php echo htmlspecialchars($_SERVER['PHP_SELF']);?>">
            <input type="email" name="email" placeholder="test@example.com" value="<?= $email; ?>">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="password2" placeholder="Password">
            <input type="text" name="firstname" placeholder="John">
            <input type="text" name="lastname" placeholder="Doe">
            <input type="submit">
        </form>
    </div>
</section>