<section>
    <div class="container">
        <div class="AccountTitle">Transaction History</div>
        <div id="orderContainer">
            <?= $transactions ?>
        </div>
        <div id="transactionView">

        </div>
    </div>
    <script type="javascript" src="js/transactions.js"></script>
</section>