<section>
    <div class="container">
        <div class="title">Account Information</div>
        <div class="AccountBlock">
            <div class="AccountTitle">Contact Info</div>
            <div class="AccountInfo">
                <form method="post">
                    <div class="infoDiv">
                        <div>Name</div>
                        <input name="firstname" value="<?= $firstName ?>">
                        <input name="lastname" value="<?= $lastName ?>">
                    </div>
                    <div class="infoDiv">
                        <div>Email</div>
                        <input name="email" value="<?= $email ?>">
                    </div>
                    <input type='submit' value='Save Changes'>
                </form>
            </div>
        </div>
        <div class="AccountBlock">
            <div class="AccountTitle"></div>
            <div id="deleteButton">
                Delete Account
            </div>
        </div>
        <div style="display: none">
            <div class="AccountTitle">Account Security</div>
            <div>
                Change Password
            </div>
        </div>
    </div>
    <script src="js/account_edit.js"></script>
</section>